@model MineSweeper.Models.UserModel

<style>
    .Headingtext{
        text-align: center;
    }

    .bodyTxt {
        text-align: center;
    }
</style>


<br />
<div>
    <hr />
    <div class="Headingtext">
        <h2>Login Success</h2>
        <br />
        <h3>Use the link below to coninue to the game! Good luck! </h3>

    </div>
    <h2></h2>
</div>
<div class="bodyTxt">
    <a asp-action="Index">Back to Login</a> |
    <a asp-controller="boardsetup" asp-action="Index">Game Board</a>

</div>
