@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <h1 class="display-4">Welcome to the MAZ</h1>
    <h2 class="display-4">Mine Sweeper Game</h2>
    <br />

    <h4>Please login above to begin playing!</h4>

    
</div>
