

<style>
    .pageTitle{
        text-align:center;
    }

    .pageBody{
        text-align:center;
    }
</style>

<html>
<head>
    <h1 class="pageTitle">Game Lost!</h1>
</head>
<body>
    <div class="pageBody">
        <h1>
            Bummer! You lost our minesweeper game.
            Click the button below to either play agin, or return home.
        </h1>
    </div>
    
</body>
</html>
